<section class="py-16 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center mb-12">
      <h2 class="text-3xl font-bold">NEW ARRIVALS.</h2>
      <a 
        routerLink="/" 
        class="text-primary font-medium hover:underline underline-offset-4"
      >
        Ver Todos
      </a>
    </div>

    <!-- Loader -->
    <div *ngIf="loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-20">
      <div *ngFor="let _ of [1,2,3,4]" class="rounded-lg overflow-hidden p-4 flex items-center justify-center">
        <div class="ring-loader"></div>
      </div>
    </div>

    <!-- Productos -->
    <div *ngIf="!loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div *ngFor="let arrival of newArrivals | slice:0:4; let i = index" class="bg-white rounded-lg overflow-hidden shadow-sm hover:shadow-md transition-all duration-300 transform hover:scale-105">
        <div class="relative">
          <img 
            [src]="arrival.images" 
            [alt]="arrival.name" 
            class="w-full h-[300px] object-cover"
          />
          <span *ngIf="arrival.discount" class="absolute top-2 left-2 bg-primary text-white text-xs px-2 py-1 rounded">
            Oferta
          </span>
        </div>
        <div class="p-4">
          <h3 class="font-medium mb-1">{{arrival.name}}</h3>
          <div class="flex items-center gap-2">
            <span class="font-bold text-lg">{{ arrival.price | currency:'MXN' }}</span>
            <span *ngIf="arrival.discount" class="text-gray-500 line-through text-sm">{{arrival.discount}}</span>
          </div>
          <!-- <button class="w-full mt-4 bg-primary hover:bg-alternative text-white py-2 px-4 rounded-md transition-colors">
            Añadir al Carrito
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
