<app-header/>

<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-[2fr_2fr] gap-8">
      <!-- Imágenes del producto -->
      <product-gallery 
        [images]="product.images"
        [selectedImage]="selectedImage"
        (imageSelected)="selectImage($event)"
      />
  
      <!-- Información del producto -->
      <div class="space-y-6">
        <h1 class="text-3xl font-bold italic">{{product.name}}</h1>
        <p class="text-xl">{{product.price | currency}} MXN</p>
  
        <product-size-selector 
          [sizes]="product.sizes" 
          (sizeSelected)="selectSize($event)"
        />

        <product-quantity-selector
          [quantity]="quantity"
          (increase)="increaseQuantity()"
          (decrease)="decreaseQuantity()"
        />
  
        <!-- Botones de acción -->
        <product-actions 
          (addToCart)="addToCart()" 
          (buyNow)="buyNow()">
        </product-actions>
  
        <product-info [description]="product.description" [details]="product.details" />
      </div>
    </div>
  </div>
  
  