<div class="flex min-h-screen flex-col">
  
    <!-- Header -->
    <app-header/>
  
    <main class="flex-1">
      <!-- Hero Section -->
      <app-hero/>
  
      <!-- Best Sellers -->
      <app-best-sellers [bestSellers]="bestSellers" [loading]="loading"/>

      <!-- Product Categories -->
      <app-product-categories [productCategories]="productCategories"/>
  
      <!-- New Arrivals -->
      <app-new-arrivals [newArrivals]="newArrivals" [loading]="loading"/>
      
      <!-- Service Features -->
      <app-service-features [features]="features"/>
      
    </main>
  
    <!-- Footer -->
    <app-footer/>
  </div>
  
  
